@model IEnumerable<KUSYS.Application.CourseMatchOp.CourseMatchStudentResponse>

@{
    ViewData["Title"] = "Index";
}

<a href="/CourseMatchView/Create/@ViewBag.Id">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbodyCourseMatch">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id  }) |
                    @Html.ActionLink("Delete", "Delete", new {id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" id="id" value="@ViewBag.Id" />
@section Scripts{

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/CourseMatch/GetByStudentId/" + $("#id").val(),
                type: "get",
                headers: {
                    "Authorization": "Bearer " + getCookie("jwt-token"),
                    "content-type": "application/json",
                    "accept": "application/json"
                },
                dataType: "json",
                success: function (result) {
                    console.log(result);

                    result.forEach(function (item, index) {
                        console.log(Object.keys(item));
                        if (item.studentId == $("#id").val()) {
                            var row = document.createElement("tr");
                            var keyNames = Object.keys(item);
                            keyNames.forEach(function (keyName, keyIndex) {
                                var textContent = item[keyName];

                                var colElement = document.createElement("td");

                                colElement.textContent = textContent;

                                row.appendChild(colElement);
                            })
                            var colElementSettings = document.createElement("td");
                            //colElementSettings.innerHTML = " <a href=\"/CourseMatch/Edit/" + item.id + "\"> View Course </a>";
                            row.appendChild(colElementSettings);
                            var tbdoyElement = document.getElementById("tbodyCourseMatch");
                            tbdoyElement.appendChild(row)
                        }
                       
                    })
                },
                error: function (error) {
                    console.log(error)
                    if (error.status == 401) {
                        toastMessage("error", error.responseJSON.title, "")
                    } else {
                        toastMessage("error", error.responseJSON.message, "")
                    }
                }
            });
        });
    </script>
}